/* General styles for the Company Manager page */
.dashboard-container {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding: 1rem;
}

.content {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 500px;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  background-color: #001f3f;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Button styles for sidebar */
.sidebar button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect for sidebar */
.sidebar button:hover {
  background-color: #0056b3;
}
.sidebar button:active {
  background-color: #001f3f;
}

/* Body styles */
.body {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Form container styles */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.orders-container {
  padding: 20px;
}

.search-box {
  max-width: 98%;
  margin-bottom: 20px;
  background-color: #f0f8fd;
}


.orders-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6px;
}

.order-item {
  display: flex;
  flex: 0.5 0.5 20px;
  justify-content: space-evenly;
}

.order-item strong {
  margin-right: 8px;
}

/* Input and textarea styles */
select,
input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
}

/* Placeholder text styling */
.placeholder-text {
  text-align: center;
  font-style: italic;
  color: #6c757d;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar {
    width: 100%;
  }
}
