/* General styles for the Train Schedule page */
.dashboard-container {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding: 1rem;
}

.content {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 500px;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  background-color: #001f3f;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Button styles for sidebar */
.sidebar button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect for sidebar */
.sidebar button:hover .train-item button {
  background-color: #0056b3;
}

.sidebar button:active .train-item button {
  background-color: #001f3f;
}

/* Body styles */
.body {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Form container styles */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orders-container {
  padding: 20px;
}

.search-box {
  max-width: 98%;
  margin-bottom: 20px;
  background-color: #f0f8fd;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Orders list styles */
.orders-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-container {
  display: flex;
  flex-direction: column;
}

.order-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
}

.order-item strong {
  margin-right: 8px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Placeholder text styling */
.placeholder-text {
  text-align: center;
  font-style: italic;
  color: #6c757d;
}

/* Train details styles */
.trainDetails-container {
  padding: 10px;
}

.train-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}

.train-item {
  display: flex;
  justify-content: space-between;
}

/* Styling for the train schedule table */
.train-schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.train-schedule-table th,
.train-schedule-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.train-schedule-table th {
  background-color: #f8f9fa;
  color: black;
}

.train-schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.train-schedule-table tr:hover {
  background-color: #ddd;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 1rem;
  }

  .sidebar {
    width: 100%;
  }
}
